html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.btn {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.btn:hover {
    color:white;
    font-weight: bold;
}
.container {
    height: 100%;
    background-color: blue;
}

.square {
    width: calc(100% / 16);
    height: calc(100% / 16);
    outline: 1px solid;
    color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover {
    background-color: aliceblue;
}